[user]
    name = stefanocudini
    email = stefano.cudini@gmail.com

[credential]
    helper = cache --timeout=360000

[push]
	default = matching

[alias]
	commitnover = commit --no-verify
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	graph2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[difftool]
    prompt = false

[diff]
    tool = meld
    guitool = meld
